*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
}

aside {
  background-color: #3B3B3B;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 20%;
}

.projects {
  border: none;
  color: white;
  height: 95%;
  overflow-y: auto;
  width: 100%;
}

.projects::-webkit-scrollbar {
  display: none;
}

.project {
  border: 2px solid black;
  height: auto;
  width: 100%;
}

.palette {
  border: 2px solid black;
  height: 100px;
  text-align: center;
  width: 100%;
}

.palette > p {
  padding-top: 10px;
  height: 50%;
  width: 100%;
}

.palette-colors {
  border: none;
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.box-color {
  background-color: purple;
  height: 100%;
  width: 20%;
}

main {
  background-color: #262626;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 80%;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 25%;
  width: 100%;
}

select, #create-project, #save-palette {
  background-color: #A9A9A9;
  border: none;
  color: white;
  font-size: 20px;
  height: 40px;
  padding-left: 10px;
}

select {
  width: 15%;
  border: 0;
  outline: 1px solid white;
  outline-offset: -1px
}

#create-project {
  width: 100%;
}

#save-palette {
  width: 85%;
}

h1 {
  color: white;
  font-size: 64px;
  height: 50%;
  text-align: center;
  width: 100%;
}

.instructions {
  color: white;
  height: 10%;
  margin-top: -25px;
  text-align: center;
  width: 100%;
}

span {
  text-decoration: underline;
}

section {
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  font-size: 24px;
  align-items: center;
  height: 75%;
  transition: ease 1s;
  width: 20%;
}

.hex-value {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

.colors {
  background-image: url('../assets/open-lock.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.locked {
  background-image: url('../assets/padlock.svg');
}
